.bk-img{
    width: 19rem;
    height: 15rem;
}
.cv{
    margin-left: 4rem;
    margin-top: 7rem;
}
.cb{
    margin-left: 35rem;
    margin-top: -393px;
}
.cn{
    margin-left: 67rem;
    margin-top: -393px;
}
.io{
    padding-top: 6px;
}
.jj{
    font-family: fantasy;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}